<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="navbar">
        <ul>
            <li sec:authorize="isAuthenticated()">
                <span>Logged user: <span sec:authentication="name">Bob</span></span>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/products">Product List</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a href="/login">Login</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </div>
    <div class="action">
        <a href="/products">
            <button>Go back</button>
        </a>
    </div>
    <div class="content" th:object="${product}">
        <img th:src="@{${'/images/products/' + product.imageName}}" alt="">
        <div class="info">
            <h3 th:text="${'name: ' + product.name}"></h3>
            <p th:text="${'category: ' + product.category.name}"></p>
            <p th:text="${'price: ' + product.price}"></p>
            <p th:text="${'weight: ' + product.weight}"></p>
            <p th:text="${'description: ' + product.description}"></p>
            <a th:href="@{/cart/add/{id}(id=${product.id})}">
                <button>Add to cart</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>